#footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    color: white;
    text-align: center;
}

#bottomOfFooter{
    margin:auto ;
    font-size: 20px;
    left: 50%;
    right: 50%;
}

#footerItems{
    text-align: center;
    text-decoration: none;
}

#item:visited{
    text-decoration: none;
}
#item:visited { text-decoration: none; color: black;}
#item:hover { text-decoration: none; color:black; }
#item:focus { text-decoration: none; color:black; }
#item:hover, a:active { text-decoration: none; color:black }