.startDiv{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 400px;
	height: 200px;
	padding: 30px;
}

.googleLogin{
	margin: 20px;

}
.animate{
 font-size: 5em;
 text-shadow: 10px 10px 4px grey;
 animation: text 3s ease-out 1s forwards;
 opacity: 0;
	
}
@keyframes text {
	100%{
		opacity: 1;
		
	}
}

.log{
 font-size: 2em;
 text-shadow: 10px 10px 4px grey;
 animation: text 3s ease-out 2s forwards;
 opacity: 0;
}

@keyframes log {
	100%{
		opacity: 1;
		
	}
}


