
body{
   font-family: Impact, fantasy;
   background-color: #111111;
   text-align: center;
   margin: 0;
}
h1{
   color: #e6784a;
}
h2{
   background-image: linear-gradient(90deg, #FF9E00, #FECCFF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.navbar {
    font-family: Impact, fantasy;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1B1B1B;
    border-width: 2px;
    border-color: #e6784a;
    color: white;
    padding: 40px;
    
}

.home{
    background-image: linear-gradient(90deg, #FFAD90, #F773FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2em;
    padding-right: 20px; 
    text-decoration: none;
    width: auto;
    margin-right: auto;
    transition-duration: .3s;

}


.action{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;
}

.adventure{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;

}
.indie{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;


}
.shooter{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;

}
.rpg{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;
}
.leaderboard{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: auto;
    transition-duration: .3s;
}

.leaderboard:hover{
    color: red;
    transform: scale(1.2);
}

.home:Hover{
	color: white;
    transform: scale(1.2);
}

.action:hover{
   color: blue;
   transform: scale(1.2);
}
.adventure:hover{
   color: green;
   transform: scale(1.2);
}
.indie:hover{
   color: yellow;
   transform: scale(1.2);
}
.shooter:hover{
    color: purple;
    transform: scale(1.2);
}
.rpg:hover{
   color: teal;
   transform: scale(1.2);
}