body{
    background-color: black;
    text-align: center;
    margin: 0;
}

.navbar {
    font-family: Impact, fantasy;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-color: #e6784a;
    border: solid;
    border-width: 2px;
    color: white;
    padding: 40px;
    
}

.home{
    color: #e6784a;
    font-size: 2em;
    padding-right: 20px; 
    text-decoration: none;
    width: auto;
    margin-right: auto;
    transition-duration: .3s;

}


.action{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;
}

.adventure{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;

}
.indie{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;


}
.shooter{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;

}
.rpg{
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-right: auto;
   transition-duration: .3s;
}
.leaderboard{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: auto;
    transition-duration: .3s;
}

.leaderboard:hover{
    color: #e6784a;
    transform: scale(1.2);
}

.home:Hover{
	color: white;
    transform: scale(1.2);
}

.action:hover{
   color: #e6784a;
   transform: scale(1.2);
}
.adventure:hover{
   color: #e6784a;
   transform: scale(1.2);
}
.indie:hover{
   color: #e6784a;
   transform: scale(1.2);
}
.shooter:hover{
    color: #e6784a;
    transform: scale(1.2);
}
.rpg:hover{
   color: #e6784a;
   transform: scale(1.2);
}