body{
    background-color: #E5E5E5;
    text-align: center;
	margin: 0;
}

.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #242626;
	color: white;
	padding: 30px;
}
.Logo{
	color: red;
	font-size: 24px;
	padding-right: 20px;
	margin-right: auto;
	
}

.home{
	font-size: 20px;
	text-decoration: none;
	color: white;
	margin-left: auto;
}


.action{
 font-size: 20px;
 text-decoration: none;
 color: white;
 margin-left: auto;
}

.adventure{
 font-size: 20px;
 text-decoration: none;
 color: white;
 margin-left: auto;
}
.indie{
 font-size: 20px;
 text-decoration: none;
 color: white;
 margin-left: auto;
}
.shooter{
 font-size: 20px;
 text-decoration: none;
 color: white;
 margin-left: auto;
}
.rpg{
 font-size: 20px;
 text-decoration: none;
 color: white;
 margin-left: auto;
}

.home:Hover{
	color: red;
}




.action:hover{
 color: red;
}

.adventure:hover{
 color: red;
}
.indie:hover{
 color: red;
}
.shooter:hover{
color: red;
}