.leaderHeader{
	margin: auto;
	color: white;
   background: linear-gradient(to right, #57FECE, #FBCB0B);
   padding: 10px;
}

.leaderboardcolumns{
	display: flex;
	justify-content: space-evenly;
}


ol{
	color: white;
}